
<h1 class="text-gray-700 font-bold justify-between">PAY HERE</h1>
   <form id="PaymentInfo" class="text-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4 bg-image"> 
    <div class="mb-4">
    <label for="card_number" class="block text-gray-700 text-sm font-bold mb-2">Card Number</label>
    <input type="text" id="card_number" name="card_number" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  
  <div class="mb-4">
    <label for="card_name" class="block text-gray-700 text-sm font-bold mb-2">Cardholder Name</label>
    <input type="text" id="card_name" name="card_name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  
  <div class="mb-4">
    <label for="expiration_date" class="block text-gray-700 text-sm font-bold mb-2">Expiration Date</label>
    <input type="text" id="expiration_date" name="expiration_date" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  
  <div class="mb-4">
    <label for="cvv" class="block text-gray-700 text-sm font-bold mb-2">CVV</label>
    <input type="text" id="cvv" name="cvv" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Pay Now</button>
  
</form>
