/* .bg-image{
    background-image: url('../css/assets/flight-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.8;
  }
   */

  .image{
    height: 100px;
  }